body{
  font-family: "Outfit", sans-serif;
  font-style: normal;
  text-align: center;
  width: 550px;
  margin: auto;
}
header{
    background-image: url(/Images/capital.png);
    height: 300px;
    width: 550px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    color: #f1faee;
    padding: 10px;
    background-color: #007200;
    border-radius: 15px;
}
h2{
    color: #007200;
}
header > p {
    margin-top: 0px;
    color: #f1faee;
    text-shadow: 2px 3px 5px #000000;
}
section{
    display: flex;
    justify-content: space-between;
    
}
.card3 > h2{
    padding-bottom: 28px;
}
.myImage{
    width: 150px;
    border-radius: 10px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid #f1faee;
    background-color: #f1faee;
    border-radius: 10px;
    
}
.yourGuide {
    font-style: italic;
    
}